<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>修改密碼</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="change-password">
        <h1>修改密碼</h1>

        <!-- 訊息顯示區 -->
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert {{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <!-- 修改密碼表單 -->
        <form action="/change" method="POST">
            <label for="username">用戶名稱:</label>
            <input type="text" placeholder="請輸入名稱" id="username" name="username" required>
            
            <label for="old_password">舊密碼:</label>
            <input type="password" placeholder="請輸入舊密碼" id="old_password" name="old_password" required>

            <label for="new_password">新密碼:</label>
            <input type="password" placeholder="請輸入新密碼" id="new_password" name="new_password" required>
            
            <input type="submit" value="修改密碼">
        </form>
		<div>
            <p>取消修改嗎？<a href="{{ url_for('index') }}">登入</a></p>
        </div>
    </div>
</body>
</html>
