<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登入頁面</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="login">
        <h1>登入</h1>
		
        <!-- 訊息顯示區 -->
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert {{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <!-- 登入表單 -->
        <form action="/login" method="POST">
            <label for="username">用戶名稱:</label>
            <input type="text" placeholder="請輸入名稱" id="username" name="username" required>
            
            <label for="password">密碼:</label>
            <input type="password" placeholder="請輸入密碼" id="password" name="password" required>
            
            <input type="submit" value="登入">
        </form>

        <!-- 註冊連結 -->
        <div class="register-link">
            <p>沒有帳號嗎？<a href="{{ url_for('register') }}">註冊帳號</a></p>
            <p>忘記密碼嗎?<a href="{{ url_for('change_password')}}">修改密碼</a></p>
        </div>
    </div>
</body>
</html>
